@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400&family=Montserrat:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    margin: 10px;
    background-color: rgba(7, 7, 100, 0.895);
    font-family: 'Lexend Deca', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
.header{
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}
.header h1{
    font-size: 150%;
    font-weight: 700;
    font-family: 'Montserrat',sans-serif ;
    color: #333;
}
.header p{
    color: #666;
}
.header a{
    text-decoration: none;
    color: #333;
}
.header a:hover{
    color: royalblue;
}
.header ul{
    list-style: none;
}

.header ul li{
    display: inline-block;
    margin-left: 20px;
}
.header ul li a{
    color: #333;
    font-size: 14px;
}
.header ul li a:hover{
    color: royalblue;
}
.header ul li.active a{
    color: royalblue;
}
.content{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    margin-top: 20px;
}
.content h2{
    font-size: 20px;
    color: #333;
}
.content p{
    font-size: 14px;
    color: #666;
}
.footer{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    margin-top: 20px;
}
.footer p{
    font-size: 14px;
    color: #666;
}
.footer a{
    text-decoration: none;
    color: #333;
}

.button{
    background-color: royalblue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif ;
    margin-top: 5px;
    margin-bottom: 15px;
}
